<app-header></app-header>

<section id="search" class="relative bg-gradient-to-r from-gray-800 via-black to-gray-900 text-white py-16 px-6">
  <div class="max-w-4xl mx-auto text-center space-y-8">
    <h2 class="text-3xl lg:text-5xl font-extrabold">
      Search for Your <span class="text-yellow-400">Favorite Movies</span>
    </h2>
    <p class="text-gray-300 max-w-2xl mx-auto">
      Type the name of a movie, actor, or genre to start exploring.
    </p>

    <div class="flex items-center bg-gray-800 rounded-full shadow-lg overflow-hidden w-full">
      <input
        type="text"
        placeholder="Search movies..."
        class="flex-grow px-6 py-4 text-white font-bold text-lg focus:outline-none"
        [(ngModel)]="searchQuery"
      />
      <button
        (click)="onSearch()"
        class="bg-yellow-400 text-black px-6 py-4 font-semibold hover:bg-yellow-300 transition"
      >
        🔍 Search
      </button>
    </div>
  </div>

<div *ngIf="movies.length > 0; else noMovies" 
     class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-10">
  <app-movie-card 
      *ngFor="let movie of movies"
      [movie]="movie"
      (addToWatchlist)="onAddToWatchlist($event)">
  </app-movie-card>
</div>

<ng-template #noMovies>
  <p class="text-center text-gray-400 mt-10 text-lg">
    ❌ No items found. Try another item.
  </p>
</ng-template>


</section>
